/* Inicio Boton de whatsapp*/
#whatsapp-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  animation: jump 0.5s ease infinite alternate;
  background-color: transparent;
}
img{
max-width: 100%;
}

#whatsapp-button a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1em;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
}

#whatsapp-button a img {
  width: 4em;
  height: 4em;
  background-color: transparent;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}
/* Fin Boton de whatsapp*/


/* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lora', serif;
}*/

h1, h2 {
  font-family: 'Lora',serif;
}

* {
  font-family: 'Montserrat', sans-serif;
  background-color: #EDE9EA;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*top header + logo*/
#top-header {
  max-width: 100%;
  height: 2.1em; 
}

#top-header a {
  float: right;
  text-decoration: none;
  margin: 0 1em;
  color: #4A3A44;
}

header div {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  width: 30em;
  height: 6em;
}

header div img {
  margin: 0 auto;
}
/*final top header y logo*/

/*REVISAR CÓMO QUEREMOS QUE SE ACOMODE EL MENÚ AL ACHICAR LA PANTALLA*/
header nav ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  height: 5em;
 /* border: solid #000;*/
  background-color:#E3D4CD;
  justify-content: center;
}

header nav ul li {
  background-color: #E3D4CD;
  width: 12em;
  text-align: center;
}

/*REVISAR ALINEACIÓN DE LINKS*/
header nav ul li a {
  display: flex;
  margin: 0.5em;
  padding: 1em;
  background-color: #AB8485;  
  height: 3.5em;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 90%;
  align-items: center;
  justify-content: center;
}

header nav ul li a:hover {
  background-color: #4A3A44;
}
/*termina menú de navegación*/

#carouselExampleAutoplaying {
  margin: 0 auto;
  height: 25em;
  border: solid #000;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

/*ENCABEZADO PAGINAS SECUNDARIAS*/
.presentacion {
  margin: 0 auto;
  padding: 1em 2em;
  height: 25em;
  border: solid #000;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: #EDE9EA;
}

.presentacion h1 {
  margin-top: 1.5em;
  float: right;
  width: 50%;
  height: 20%;
  text-align: center;
  border: solid #000;
}

.presentacion img {
  float: left;
  border-radius: 1em;
}

.presentacion p {
  margin-top: 2em;
  float: right;
  width: 50%;
  border: solid #000;
  text-align: center;
  line-height: 2em;
  font-size: 1.1em;
}

/*OPCIONES PAGINA SPA*/
#opciones-spa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
}

.bloque {
  width: 100%;
  height: 10%;
  margin: 1em auto;
  padding: 1em;
  border: solid #000;
}

h2 {
  text-align: center;
}

.titulo-izq {
  float: left;
  width: 70%;
  text-align: left;
  border: solid #000;
}

.titulo-der {
  float: right;
  width: 70%;
  text-align: right;
    border: solid #000;
}

.contenido-izq {
  float: left;
  width: 70%;
  border: solid #000;
  margin-top: 1em;
  padding: 1em 0;
  text-align: left;
}

.contenido-der {
  float: right;
  width: 70%;
  border: solid #000;
  margin-top: 1em;
  padding: 1em 0;
  text-align: right;
}

.img-der {
  overflow:hidden;
  margin: .5em 1.5em;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  float: right;
  border: solid #000;
}

.img-izq {
  overflow: hidden;
  margin: .5em 1.5em;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  float: left;
  border: solid #000;
}

.servicios img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}


/*OPCIONES SERVICIOS INDEX*/


#servicios {
  display: flex;
  flex-wrap: wrap;
  /*border: solid #000;*/
  height: 25em;
  margin: auto;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0.5em;
  height: 20em;
  width: 15em;
  border-radius: 1em;
  background-color: #D3C5BA;
}

.tarjeta h2 {
  flex-direction: column;
  text-align: center;
  height: 15%;
  padding: 0.5em;
  color: #4A3A44;
  font-size: 1.25em;
  background-color: #D3C5BA;

}

.tarjeta .imagen-servicio {
  height: 45%;
  margin: 0.3em;
}

.imagen-servicio img{
  display: block;
  width: 100%;
  height: auto;
  justify-content: center;
}

.boton-masinfo {
  margin: auto;
  margin-top: 2em;
  padding: 0.5em;
  height: 12%;
  text-align: center;
  background-color: #AB8485;
  border-radius: 2em;
  width: 50%;
  box-shadow: 0.4em 0.5em 0.6em rgba(0,0,0,0.3);
}

.boton-masinfo a {
  align-items: center;
  text-decoration: none;
  color: #4A3A44;
  font: 100%;
  background-color: #AB8485;
}

.boton-masinfo a:hover {
  color: #fff;
}

#nosotros {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  height: auto;
  width: 100%;
}

#contenedor-texto-nosotros {
  width: 50em;
  height: auto;
  padding: 3em 0 3em 2em;
  float: left;
}

#nosotros p {
  font-family: 'Lora',serif;
  line-height: 2.5em;
  font-size: 1.2em;
}

#contenedor-img-nosotros {
  width: 30em;
  padding: 1em;
  height: auto;
  float: right;
}

#nosotros img {
  height: auto;
  object-fit: cover;
  width: 90%;
  float: right;
  border-radius: 2em;
  margin-right: 1em;
}

/*INSTALACIONES*/
#instalaciones {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  height: auto;
  width: 100%;
}

#contenedor-img-instalaciones {
  display: flex;
  flex-wrap: wrap;
  width: 30em;
  padding: 1em;
  height: auto;

  float: left;
  gap: 0.5em;
}

#contenedor-img-instalaciones img{
  width: 40%;
  height: auto;
  border-radius: 0.4em;
}

#contenedor-texto-instalaciones {
  width: 50em;
  height: auto;
  padding: 4em 3em 3em 0em;

  float: right;
}

#instalaciones p{
  font-family: 'Lora',serif;
  line-height: 2.5em;
  font-size: 1.2em;
  text-align: start;
}


/* inicio de carousel*/
#carosuel-mod {
  margin: 0;
  padding: 0;
  background-color:#EDE9EA;
  height: 25em;
}

#carouselExampleAutoplaying {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  
  height: 25em;
  box-sizing: border-box;
}

#carosuel-mod div div div img{
 height: 25em;
}

#carosuel-mod span {
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
}
.carousel-indicators {
  background-color: transparent;
}
/* Fin de carousel*/

/* inicio footer */
footer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background-color: #4A3A44;
  padding: 2em 2em 0 2em;
}

#footer-redes {
  display: flex;
  flex-direction: column;
  float: left;
  width: 40em;
  background-color: #4A3A44;
}

#enlaces-redes {
  background-color: #4A3A44;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 20em;
}

#footer-sucursales {
  float: right;
  width: 40em;
  background-color: #4A3A44;
  text-align: right;
}

footer div h3{
  background-color: #4A3A44;
  color: #EDE9EA;
}

footer div a {
  background-color: #4A3A44;
}

footer div a i{
  display: inline;
  background-color: #4A3A44;
}

footer div ul{
  margin: 0;
  padding: 0;
}

footer div ul li{
  background-color: #4A3A44;
  font-weight:lighter;
  color: #fff;
}

footer article {
  width: 100%;
  text-align: center;
  background-color: #4A3A44;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 80%;
}
/* fin footer */
